useDynLib(MESuSiE, .registration=TRUE)
importFrom(Rcpp, evalCpp)
## export all regularly named functions
## (but allow for private functions whose name starts with a dot).name <- function(...)
exportPattern("^[[:alpha:]]+")



export(GWAS_QC)
export(MESuSiE_Plot)
export(allele_flip)
export(find_common_snps)
export(kriging_rss)
export(meSuSieData)
export(meSuSieObject)
export(meSuSie_core)
export(meSuSie_get_cs)
export(organize_gwas)
export(organize_ld)
import(Matrix)
import(R6)
import(Rcpp)
import(RcppArmadillo)
import(cowplot)
import(dplyr)
import(ggplot2)
import(ggrepel)
import(nloptr)
import(progress)
importFrom(dplyr,bind_cols)
importFrom(dplyr,mutate)
importFrom(dplyr,pull)
importFrom(dplyr,select)
importFrom(mixsqp,mixsqp)
importFrom(tidyr,pivot_longer)
